$light-textColor: #000;
$light-bg: white;
$light-logo: darkblue;
$light-bg-soft: #f6f3f3;
$light-textColorSoft: #555;
$light-border: lightgray;

$dark-textColor: whitesmoke;
$dark-bg: #222;
$dark-logo: white;
$dark-bg-soft: #333;
$dark-textColorSoft: lightgray;
$dark-border: #444;
