@import "../../responsive.scss";

.home {
  padding: 20px 70px;

  @include mobile {
    padding: 20px;
    padding-top: 0 !important;
    margin-top: -30px;
    overflow-x: hidden;
  }
  @include smallScreen {
    padding: 20px;
  }
}
